
alias python="python3"

alias gtools="cd ~/Download/ubuntu-tools"
alias gbin="cd /usr/local/bin"
alias lbin="ls /usr/local/bin"
alias ghtml="cd /var/www/html"
alias glwww="cd ~/Downloads/www/introweb"
alias tsmr="transmission-remote"
